page-finish {

  .toolbar-ios {
    min-height: 3.75em;
  }

  .toolbar-md {
    min-height: 3.75em;
  }

  .toolbar-title-ios {
    font-size: 2rem;
  }

  .toolbar-title-md {
    font-size: 2rem;
  }

  .para {
    font-size: 18px;
    color: #3CA2EF;
    font-weight:500
  }

  .para1 {
    font-size: 16px;
    color: #4e4e4e;
  }

  .range {
    width: 100%;
    background-color: #f3f3f3;
  }
}
