page-text-image-editor {
.image_box{
	    max-width: 65%;
  
    position: absolute;
    top: 78px;
    
}
.textbox {
  height: 210px;
  flex:1 ;
  flex-direction:column;
  top: 93px;
  left: 26px;
  width: 86%;
  position:absolute;
  z-index:1;
  
    }
    .textbox_inner{
      padding: 8px;
      flex:2;
      height:96px;
    
    }
    .textbox_inner_text{
      border: 0px;
      height: 100%;
    width: 100%;  
    background-color: transparent;
    line-height: .7 !important;
    
    }
.one
{
position:absolute !important;

}
.two{
  z-index:1 ;
}
.videouploadbox {
    top: 28px;
    position: relative;
  }

  .videostylebox {
    height: 185px;
    width: 100%;
    object-fit: contain;
  }

.imagebigbox{
  flex:1 ;
  flex-direction:column;
  top: 49px;
   width: 90%;
       margin-left: 19px ;
           margin-top: 16px;
           left: -4px
}
.image_borderbox{
  padding: 5px;
    flex: 2;
    border-style: dashed;
    border-color: #ACB0B3;
    border-width: 2.5px;
    height: 189px;
}

.gen-foot {
    background-color: #fff;
    border: 1px solid #aaafb2;
    height: 115px;
    position: fixed;
  }

  .underline {
    color: red
  }

  .texts-texts textarea.text-input {
    display: block;
    text-shadow: -12px 20px 15px rgba(2, 2, 2, 0.1);
  }


  .text-text textarea.text-input {
    display: block;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
  }

  .imagebox {
    width: 100%;
    height: 100%;
    object-fit: contain
  }

  .videouploadbox {
    top: 28px;
    position: relative;
  }

  .videostylebox {
    height: 185px;
    width: 100%;
    object-fit: contain;
  }

  .badge-box {
    position: absolute;
    bottom: 141px;
    background-color: #00AEEF
  }
}
