<!--
   Generated template for the NewphasePage page.
   
   See http://ionicframework.com/docs/components/#navigation for more info on
   Ionic pages and navigation.
   -->
   <ion-header>
    <ion-navbar color="button">
       <ion-buttons left>
          <button ion-button (click)="navigateToPhaseTemplate()">
             <ion-icon name="ios-arrow-back"></ion-icon>
          </button>
       </ion-buttons>
       <ion-buttons end>
          <button ion-button (click)="navigateToLibrary()">
             <ion-icon name="ios-arrow-forward"></ion-icon>
          </button>
       </ion-buttons>
       <ion-title  style=" margin-left: -11px;" text-center>New Phase</ion-title>
    </ion-navbar>
 </ion-header>
 <ion-content  style="background-color:#f3f3f3;" >
    <ion-input style=" background-color: white;margin-top: 32px;width: 260px;margin-left: 29px;" placeholder="Phase Name" [(ngModel)]="phasename"></ion-input>
    <div style="height: 76px;margin-top: 27px; text-align: center;">
       <img *ngIf="bothoff==true" style="width: 24%;" src="assets/img/NewPhase/gray/015-people.png" (click)="select(1)" />
       <img *ngIf="bothoff==false" style="width: 24%;" src="assets/img/NewPhase/Blue/015-people.png" (click)="select(1)"  />
       <img *ngIf="ladyoff==true" style="width: 18%;" [src]="imgfemaleoff" (click)="select(2)" />
       <img *ngIf="ladyoff==false" style="width: 19%;" [src]="imgfemaleon"  (click)="select(2)"/>
       <img *ngIf="peopleoff==true" style="width: 15%;" [src]="imgmaleoff" (click)="select(3)" />
       <img *ngIf="peopleoff==false" style="width: 16%;" [src]="imgmaleon" (click)="select(3)"  />
    </div>
    <div style="height: 76px;text-align: center;margin-top: 24px;">
       <img *ngIf="kidoff==true" style="width: 18%;" [src]="imgkidoff"  (click)="select(4)" />
       <img *ngIf="kidoff==false" style="width: 19%;" [src]="imgkidon" (click)="select(4)" />
       <img *ngIf="boyoff==true"  style="width: 18%;" [src]="imgyoungoff"  (click)="select(5)"/>
       <img *ngIf="boyoff==false"  style="width: 19%;" [src]="imgyoungon" (click)="select(5)"/>
       <img *ngIf="manoff==true" style="width: 18%;" [src]="imgadultoff" (click)="select(6)"/>
       <img *ngIf="manoff==false" style="width: 19%;" [src]="imgadulton" (click)="select(6)"/>
       <img *ngIf="oldoff==true" style="width: 18%;" [src]="imgsenioroff"  (click)="select(7)"/>
       <img *ngIf="oldoff==false" style="width: 19%;" [src]="imgsenioron" (click)="select(7)"/>
    </div>
    <div style="height: 57px;
       text-align: center;
       margin-top: 29px;">
       <img *ngIf="smileyoff==true" style="width: 17%;" [src]="imgemotionsoff" (click)="select(8)" />
       <img *ngIf="smileyoff==false" style="width: 18%;" [src]="imgemotionson" (click)="select(8)"/>
    </div>
    <div  style="height: 68px;display: block;width: 100%;float: left;margin-top:10px">
       <img *ngIf="eyeoff==true" style="    margin-left: 53px;display: inline-block;width: 21%;float: left;" src="assets/img/NewPhase/gray/001-medical.png"  (click)="select(16)"/>
       <img *ngIf="eyeoff==false" style="margin-left: 53px;display: inline-block;width: 21%;float: left;" src="assets/img/NewPhase/Blue/001-medical.png" />
       <ion-input style="display: inline-block; width: 24%;background-color: white; float: left;margin-left: 15px;margin-top: 9px;" type="number" [(ngModel)]="newphasenumber"></ion-input>
    </div>
 </ion-content>