page-windowscreen {
  .item {
   
  }

  .ion-icon {
    line-height: 2;
    color: white;
  }

  .toolbar-title-md {
    padding: 0 12px;
    font-size: 1.9rem;
    font-weight: 300;
    color: #424242;
  }
  .percentage-box{
   display: inline-block;
   width:100%;
    
   height:150px ;
   margin-left: 7px;
  }
  .window-screen{
display:block;
float: left;
width:46%;
background-color: #f2f4f7;  
height:150px ;
border: 1px solid #d6d4d4;
  }
  .age-screen{
    display:block;
    float: left;
    width:46%;
    background-color: #f2f4f7;    
    height:150px ;
    border: 1px solid #d6d4d4;
  }
  .space{
    display:block;
    float: left;
    width:5%;
    background-color:white;
    height:150px ;
  }
  table, th, td {
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;    
}
.graph-box{
  width:23%;
  display: inline-block;
  margin-left: 3px;
 
height:58px;
}
.graph-box-inner{
  height:15px;
  width:44px;
 
  margin-left: 13%; 
}

.yellow{
  background-color:#F7C870 ;

}
.orange{
  background-color: #EB7F59;
}
.green{
  background-color: #A5C35C;
}
.magenta{
  background-color:#C87CAD; 
}

.text-graph{
  font-size: 11px;
  margin-left: 10px;
}


}
