page-createaccount {
  .toolbar-title-md {
    padding: 0 12px;
    font-size: 1.9rem;
    font-weight: 300;
    color: #424242;
  }

  .list-md .item-input:last-child {
    border-bottom: 1px solid transparent;
  }

  .btn {
    font-size: 18px;
    height: 2.6em;
    margin-top: 39px;
  }

  .label {
    color: #4e4e4e;
    font-size: 16px;
  }

  .toolbar-ios {
    min-height: 60px;
  }

  .toolbar-title-ios {
    font-size: 2rem;
  }

  .item-md.item-input.input-has-focus .item-inner {
    border-bottom-color: transparent !important;
    box-shadow: none !important;
  }

  .list-md .item-input.input-has-focus:last-child {
    border-bottom-color: transparent !important;
    box-shadow: none !important;
  }

  .list-md .item-input.input-has-focus:last-child .item-inner {
    box-shadow: none;
  }

  .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
    border-bottom-color: transparent !important;
    box-shadow: none !important;
  }

  .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child {
    border-bottom-color: transparent !important;
    box-shadow: none !important;
  }

  .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child .item-inner {
    box-shadow: none;
  }

  .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner {
    border-bottom-color: transparent !important;
    box-shadow: none !important;
  }

  .list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child {
    border-bottom-color: transparent !important;
    box-shadow: none !important;
  }

  @media (min-width:2000px) {
    .item {
      height: 7em;
      width: 100em;
      left: 15em;
      right: 15em;
      border-radius: 1.2em;
      font-size: 20px;
    }

    .btn {
      border-radius: 1.2em;
      font-size: 20px;
      height: 7em;
      width: 100em;
      left: 15em;
      right: 15em;
    }

    .label {
      color: #4e4e4e;
      font-size: 18px;
      height: 7em;
      width: 100em;
      left: 15em;
      right: 15em;
    }
  }
}
