<!--
   Generated template for the CreateaccountPage page.
   
   See http://ionicframework.com/docs/components/#navigation for more info on
   Ionic pages and navigation.
   -->
   <ion-header>
    <ion-navbar color="button">
       <ion-title text-center style="margin-left: -48px;">Create Account</ion-title>
    </ion-navbar>
 </ion-header>
 <ion-content padding  style="background-color:#ECECEC" >
    <form [formGroup]="motionform">
       <ion-list style="padding-top:15%;padding-top: 4% !important">
          <ion-item  no-lines>
             <ion-input  type="text" placeholder="Email"  formControlName="email" 
                [class.invalid]="!motionform.controls.email.valid && (motionform.controls.email.dirty|| submitAttempt)"
                ></ion-input>
          </ion-item>
          <p *ngIf="!motionform.controls.email.valid && (motionform.controls.email.dirty|| submitAttempt)" style="color:red ">*Please enter a valid Email.</p>
       </ion-list>
       <ion-list>
          <ion-item  no-lines>
             <ion-input  formControlName="firstName"
                [class.invalid]="!motionform.controls.firstName.valid &&
                (motionform.controls.firstName.dirty|| submitAttempt)
                "
                placeholder="FirstName" type="text" ></ion-input>
          </ion-item>
          <p *ngIf="!motionform.controls.firstName.valid && (motionform.controls.firstName.dirty|| submitAttempt)" style="color:red ">*Enter Valid Name.</p>
       </ion-list>
       <ion-list>
          <ion-item  no-lines>
             <ion-input 
                formControlName="lastName"
                [class.invalid]="!motionform.controls.lastName.valid && (motionform.controls.lastName.dirty || submitAttempt)"
                placeholder="Last Name" type="text" ></ion-input>
          </ion-item>
          <p *ngIf="!motionform.controls.lastName.valid && (motionform.controls.lastName.dirty|| submitAttempt)" style="color:red ">*Enter Valid Name.</p>
       </ion-list>
       <ion-list>
          <ion-item  no-lines>
             <ion-input   formControlName="pwHash"  [class.invalid]="!motionform.controls.pwHash.valid && (motionform.controls.pwHash.dirty || submitAttempt)"
                placeholder="Password" type="password" ></ion-input>
          </ion-item>
          <p *ngIf="!motionform.controls.pwHash.valid && (motionform.controls.pwHash.dirty|| submitAttempt)" style="color:red ">*Password should be atleast 6 min character.with one atleast Capital,Number and special character</p>
       </ion-list>
       <ion-list>
          <ion-item  no-lines>
             <ion-input  formControlName="confirmPassword"  placeholder="Confirm Password" type="password" 
                [class.invalid]="!motionform.controls.confirmPassword.valid && (motionform.controls.confirmPassword.dirty || submitAttempt)"></ion-input>
          </ion-item>
          <p style="color:red" *ngIf="motionform.controls.confirmPassword.errors?.MatchPassword">Password not matching</p>
       </ion-list>
       <ion-list>
          <ion-item  no-lines>
             <ion-input  formControlName="networkName" 
                [class.invalid]="!motionform.controls.networkName.valid && (motionform.controls.networkName.dirty || submitAttempt)"
                placeholder="NetworkName" type="text" >
             </ion-input>
          </ion-item>
          <p *ngIf="!motionform.controls.networkName.valid && (motionform.controls.networkName.dirty|| submitAttempt)" style="color:red ">*Please enter a valid JobTitle.</p>
       </ion-list>
       <ion-list>
          <button class="btn" ion-button color="button" large block style="text-transform:capitalize"  (click)="hope()" >
             <p style="font-size: 1.4rem;
                font-weight: 300;">Create Account</p>
          </button>
       </ion-list>
    </form>
 </ion-content>