page-forgetpassword {
.item{
   height:3.2em;
   border-radius:20px;
}
.btn{
border-radius:1.25em;
    font-size:18px;
    height:2.6em

}

.label{
    color:#4e4e4e;
    font-size:16px;
    
}
.toolbar-ios {
    min-height: 60px;
}
.toolbar-title-ios {
    font-size: 2rem;
}

@media (min-width:2000px){
.item{
 height:7em;
 width:100em;
 left:15em;
 right:15em;
   border-radius:1.2em;
   font-size:20px;
}
.btn{
border-radius:1.2em;
    font-size:20px;
    height:7em;
 width:100em;
 left:15em;
 right:15em;
}
.label{
    color:#4e4e4e;
    font-size:18px;
       height:7em;
 width:100em;
 left:15em;
 right:15em;
}
}
}
